
.container {
    width: 60%;
    height: fit-content;
    display: grid;
    padding-top: 10%;
    padding-right: 10%;
    padding-bottom: 15%;
    display: grid;
    grid-template-columns: repeat(auto-fill,
           minmax(max(350px,(750px - (2 - 1)*150px)/2), 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 150px;
    margin: 0 auto;

    img:hover { transform: scale(1.1); }

    .projectGif {
        position: relative;
        width: 400px;
        height: 400px;
        margin: 0 auto;
        justify-self: center;
    
        transform-style: preserve-3d;
        box-shadow: 2px 3px 30px 9px rgba(0,0,0,0.58);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        margin-left: 7%;
        margin-right: 7%;
    
        animation-duration: 0.75s;
        .title {
          width: 600px;
          height: 50px;
          top: -50px;
          left: 0px;
          font-size: clamp(22px, 2vw, 35px);
          font-family: 'Open Sans Condensed', sans-serif;
      
          color: #f35626;
          background-image: -webkit-linear-gradient(92deg, #ec3a04, #f0ba0a);
          background-clip: text;
          -webkit-text-fill-color: transparent;
          animation: colorGradient 10s infinite linear;
        }
    }
    
    .projectPicture{
        position: relative;
        width: inherit;
        height: inherit; 
        // background-size: 100% 100%;   
        background-repeat: no-repeat;
        // background-attachment: fixed;
        background-position: center;
        background-color: #898989;
        background-color: -webkit-linear-gradient(92deg, #000000, #898989);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        background-size: 25%;

        animation-duration: 0.75s;
        transition: all 0.5s ease-out;
        border: black solid 3px;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            transition: 0.75s;
        }
      }
    
    .projectDescription {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: inherit;
        height: inherit;
        top: 80px;
        right: 40px;
        content: "";
        transform: translateZ(-10px);
        cursor: pointer;
        box-shadow: 2px 3px 22px 9px rgba(0,0,0,0.81);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    
        transition: all 0.5s ease-in;
        background-color: #100c08;
    
        .projectDescriptionTopHeader {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width:100%;
          height: 13%;
          max-height: 40px;
          background-color:coral;
          box-shadow: 2px 3px 22px 9px rgba(0,0,0,0.5);
          padding-left: 25px;
          font-size: 24px;
          font-family: 'Playfair Display', serif;
          color: rgb(44, 34, 34);

          margin-left: -20px;
          margin-top: 5%;
          & > span {
            font-size: clamp(15px, 5vw, 25px);
            font-weight: 600;
            align-self: center;
          }
          & > a {
            cursor: pointer;
            margin-right: 5%;
            justify-self: center;
            animation: breath 2s linear infinite;
            img {
              width: 6vw;
              height: 6vw;
              max-width: 30px; 
              max-height: 30px;
            }
          }
        }

        .projectDescriptionTopHeader::after {
          position: absolute;
          content: '';
          left:-20px;
          top: clamp(35px, 11vw, 60px);
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 20px 20px 0;
          border-color: transparent #74240c transparent transparent;
        }
        .projectDescriptionBottomHeader {
          width:100%;
          height: 40px;
          background-color:coral;
          box-shadow: 2px 3px 22px 9px rgba(0,0,0,0.5);
          padding-left: 25px;
          font-size: 24px;
          font-family: 'Playfair Display', serif;
          color: rgb(44, 34, 34);
          
          margin-left: -20px;
          margin-top: 5%;

          
        }

        .projectDescriptionBottomHeader::after {
          position: absolute;
          content: '';
          left:-20px;
          top:60px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 20px 20px 0;
          border-color: transparent #74240c transparent transparent;
        }

        .shinyContainer {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          z-index: 1;
          pointer-events: none;
      
          &::before {
            content: '';
            position: absolute;
            top: -100%;
            left: 0;
            width: 3%;
            height: 100%;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
            transform: skewX(-30deg);
            opacity: 0.6;
          }
        }
      
    
        & > p {
          float:left;
          color: aliceblue;
          font-size: clamp(0.6rem, 2.5vw, 1.25rem);
          margin: 5% 5%;
          font-family: 'Times New Roman';
          max-height: 4%;
        }
        
        .technologiesContainer {
          width: inherit;
          height: fit-content;
          margin-top: auto;
          display: grid; 
          margin-bottom: 15px;
          margin-left: 10%;
          grid-template-columns: 0.2fr 1fr 0.2fr 1fr; 
          grid-template-rows: 1fr 1fr; 
          gap: 0px 0px; 
          grid-template-areas: 
            ". . . ."
            ". . . ."; 
          color: aliceblue;

            .gridIcon {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .gridIcon svg {
                width: 100%;
                height: 100%;
            }
          & > span {
            font-weight: 600;
            font-size: clamp(0.7rem, 2.5vw, 1.2rem);
            align-self: center;
            margin-left: 10px;
          }
        }

        .technologiesContainer > span {
            font-weight: 600;
            font-size: clamp(0.7rem, 2.5vw, 1.2rem);
            align-self: center;
            margin-left: 10px;
        }
    }
    
    .projectDescription[animate='1'] {
        animation: opacityDown 0.75s 1;
    }
}

@keyframes breath {
  0%   { transform: scale(1); }
  50% {  transform: scale(1.20); }
  100% {  transform: scale(1);  }
}

@media only screen and (max-width: 1330px) {
  .container .projectGif:last-child {
    grid-column-start: unset !important; 
  }
}

@media (max-width: 875px) {
  .container .projectGif {
      width: clamp(200px, 60vw, 400px);
      height: clamp(200px, 60vw, 400px);
      justify-self: auto;
      .projectPicture {
        img {opacity: unset;}
      }
  }
}
