
.container {
    width: 60%;
    height: fit-content;
    display: grid;
    padding-top: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill,
           minmax(max(350px,(750px - (2 - 1)*150px)/2), 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 150px;
    margin: 0 auto;

    img:hover { transform: scale(1.1); }

    .projectGif {
        position: relative;
        width: 400px;
        height: 400px;
        margin: 0 auto;
        justify-self: center;
    
        transform-style: preserve-3d;
        box-shadow: 2px 3px 30px 9px rgba(0,0,0,0.58);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        margin-left: 7%;
        margin-right: 7%;
    
        animation-duration: 0.75s;
        .title {
          position: absolute;
          width: 600px;
          height: 50px;
          top: -50px;
          left: 0px;
          font-size: 35px;
          font-family: 'Playfair Display', serif;
      
          color: #f35626;
          background-image: -webkit-linear-gradient(92deg, #ec3a04, #f0ba0a);
          background-clip: text;
          -webkit-text-fill-color: transparent;
          animation: colorGradient 10s infinite linear;
        }
    }

    .projectGif:last-child {
      grid-column-start: span 2;
    }
    
    .projectPicture{
        position: relative;
        width: inherit;
        height: inherit; 
        // background-size: 100% 100%;   
        background-repeat: no-repeat;
        // background-attachment: fixed;
        background-position: center;
        background-color: #898989;
        background-color: -webkit-linear-gradient(92deg, #000000, #898989);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        background-size: 25%;

        animation-duration: 0.75s;
        transition: all 0.5s ease-out;
        border: black solid 3px;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            transition: 0.75s;
        }
      }
    
    .projectDescription {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: inherit;
        height: inherit;
        top: 40px;
        right: 40px;
        transform: translateZ(-10px);
        cursor: pointer;
        box-shadow: 2px 3px 22px 9px rgba(0,0,0,0.81);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    
        transition: all 0.5s ease-in;
        background-color: #100c08;
    
        .projectDescriptionTopHeader {
          width:100%;
          height: 40px;
          background-color:coral;
          box-shadow: 2px 3px 22px 9px rgba(0,0,0,0.5);
          padding-left: 25px;
          font-size: 24px;
          font-family: 'Playfair Display', serif;
          color: rgb(44, 34, 34);

          margin-left: -20px;
          margin-top: 5%;

          & > h6 {
            width: 30px; 
            height: 30px;
            cursor: pointer;
            margin-left: 80%;
            margin-top: 5px;
            animation: breath 2s linear infinite;
          }
        }

        .projectDescriptionTopHeader::after {
          position: absolute;
          content: '';
          left:-20px;
          top:60px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 20px 20px 0;
          border-color: transparent #74240c transparent transparent;
        }
        .projectDescriptionBottomHeader {
          width:100%;
          height: 40px;
          background-color:coral;
          box-shadow: 2px 3px 22px 9px rgba(0,0,0,0.5);
          padding-left: 25px;
          font-size: 24px;
          font-family: 'Playfair Display', serif;
          color: rgb(44, 34, 34);
          
          margin-left: -20px;
          margin-top: 5%;
        }

        .projectDescriptionBottomHeader::after {
          position: absolute;
          content: '';
          left:-20px;
          top:60px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 20px 20px 0;
          border-color: transparent #74240c transparent transparent;
        }
    
        & > p {
          float:left;
          color: aliceblue;
          font-size: clamp(0.6rem, 2.5vw, 1.25rem);
          margin: 5% 5%;
          font-family: 'Times New Roman';
          max-height: 4%;
        }
        
        .technologiesContainer {
          width: inherit;
          height: fit-content;
          margin-top: auto;
          display: grid; 
          grid-template-columns: 0.2fr 1fr 0.2fr 1fr; 
          grid-template-rows: 1fr 1fr; 
          gap: 0px 0px; 
          grid-template-areas: 
            ". . . ."
            ". . . ."; 
          color: aliceblue;
    
          & > span {
            margin: 10px 0px 0px 5px; 
            font-weight: 600;
            font-size: clamp(1.0rem, 2.5vw, 1.2rem);
          }
        }
    }
    
    .projectDescription[animate='1'] {
        animation: opacityDown 0.75s 1;
    }
}

@keyframes breath {
  0%   { transform: scale(1); }
  50% {  transform: scale(1.20); }
  100% {  transform: scale(1);  }
}

@media only screen and (max-width: 1330px) {
  .container .projectGif:last-child {
    grid-column-start: unset;
  }
}

@media (max-width: 875px) {
  .container .projectGif {
      width: clamp(275px, 60vw, 400px);
      height: clamp(275px, 60vw, 400px);
  }
}
  