.coverContainer{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-evenly;

    .description {
        margin-left:10%;
        margin-top:10%;
        width: 50%;
        height: inherit;
        .lettersContainer {
            vertical-align: middle;
            margin: 0 auto;
        }
    
        h2 {
            color: rgb(231, 231, 231);
            word-wrap: break-word;
            font-style: italic;
            font-family: 'Perpetua', serif;
            font-size: 1.5vw;
            // margin-left:10%;
            vertical-align: middle;
        }
    }

    .sideBar {
        width: 15vw;
        height: 60vh;
        margin-top: 10%;
        background-color:black;
        display: grid;
        // grid-template-columns: 2fr 0.1fr;
        grid-template-columns: 2fr;
        grid-template-rows: repeat(5, 0.5fr);
        grid-column-gap: 20px;
        .selectionBox {
            display: grid;
            // grid-template-columns: 2fr 0.1fr;
            grid-template-columns: 1.8fr 0.2fr;
            grid-column-gap: 10px;

            > span {
                align-self: center;
                padding-left: 10%;
                font-size : 2vw;
                color: white;
                font-family: Futura, "Trebuchet MS", Arial, sans-serif;
                text-transform: uppercase;
            }
            > div {
                transition: 0.35s;
            }
        }
    }
}

li {
    display: inline-block;
    white-space: nowrap;
    list-style: none;
    font-size: 5vw;
    color: rgb(231, 231, 231);
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}

ul {
    padding: 0;
    display:inline-block;
    vertical-align:top;
}

.rotate {
    animation: rotate 1s;
    animation-fill-mode: forwards !important;
}

@keyframes rotate {
    50% { 
      transform: rotateY(180deg); 
      color: #c69c6d;
    }
}