.aboutGrid {
    width: 65%; 
    margin-left: 5%;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 20px;
    grid-row-gap: 5%;
     
    #aboutDiv {
        grid-area: 2 / 1 / 3 / 5;
        overflow: hidden;
    }

    .descriptionHeader {
        grid-area: 1 / 1 / 2 / 5;
    } 

    span {
        // font-size: 1.5vw;
        font-size: clamp(0.6rem, 2.0vw, 1.4rem);
        color: #F2f2f2;
        // color: black;
    }    

    .container { 
        display: flex;
        flex-wrap: wrap;
        // justify-content: center;
    
        .education {
            background-color: black;
            padding-left: 5%;
            padding-right: 5%;
            margin-right: 5%;
            width: 100%; 
            height: fit-content;
            // margin-top:-5%;
    
            & > p {
                display: grid;
                height: fit-content;
                // grid-template-columns: 2fr 0.1fr;
                grid-template-columns: 0.5fr 0.5fr 6fr;
                // grid-template-rows: repeat(3, 1fr);
                grid-column-gap: 4%;
                row-gap: 10px;
                font-size: clamp(0.75rem, 2.5vw, 1.5rem); // the bar inside the education fields
                & > div {
                    align-self: center;
                }
            }
        }
        
        & > div {
            // margin: 0 auto;
            // margin-left: 20%;
            position:relative;
            left: 4px;
            // margin-top: 55px;
            // height: 250px;   
            color: white;
        }
    
        & > div > h2 {
            width: 10ch;
            font-family: 'Playfair Display', serif;
            font-size: clamp(20px, 3vw, 35px);
            background: linear-gradient(to right, #e98f29, #c69c6d 50%, rgb(235,235,235) 50%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 200% 100%;
            background-position: 100%;
        
            transition: background-position 500ms ease;
        }
    
        & > div > h2:hover { background-position: 0 100%; }
    }
    .educationDescription {
        display: none;
    }
    .latexDescription {
        grid-area: 3 / 1 / 4 / 3;
    }

    .descriptionHeader, .educationDescription, .latexDescription {
        // font-size: max(1vw, 1.5vw);
        font-size: clamp(1.0rem, 2.5vw, 1.5rem);

    }
    .latexContainer {
        background-color: black;
        // padding-left: 8%;
        // padding-top:25%;
        height: 110%;
        grid-area: 3 / 3 / 4 / 5;
        align-content: center;
        overflow: hidden;

        > h2 {
            width: 10ch;
            padding-left: 8%;
            // margin-left: 5%;
            font-family: 'Playfair Display', serif;
            font-size: clamp(20px, 3vw, 35px);
            background: linear-gradient(to right, #e98f29, #c69c6d 50%, rgb(235,235,235) 50%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 200% 100%;
            background-position: 100%;
        
            transition: background-position 500ms ease;
        }
    
        & > h2:hover { background-position: 0 100%; }
    
        > hr {
            position: relative;
            margin-top: -1%;
            margin-left: 8%;
            width: 85%;
            margin-right: 25%
         }

        & > div { 
            margin-top: 4%; 
            justify-content: center;
        }

        
    }

    hr {
        position:relative;
        margin-top: -1%;
        width: 85%;
        margin-right: 25%;
    }
    
    .dropDownArrow {
        align-self: center;
        margin: 0 auto;
    }
    .dropArrow {
        position: relative;
        transition: .25s;
        z-index: 900 !important;
    
        &:hover {
            cursor: pointer;
            filter: drop-shadow(0px 0px 8px rgb(223, 123, 77));
        }
    }
    
    .decriptionPanel {
        position: absolute;
        width: auto;
        height: auto;
        background-color: aliceblue;
        border: 10px solid rgba(255, 255, 255, 0.822);
        color: black;
        box-shadow: 2px 3px 30px 9px rgba(255, 255, 255, 0.25);
    
        border-radius: 10px 10px 10px 10px;
        transition: 1s;
        z-index: 999 !important;
    
        i {
            color: #cc893d;
            font-weight: 600;
        }
    }
}



fieldset {
    border: 2px solid #000;
    height: auto;
    margin:auto;
    margin-top: -10px;
}
legend {
    font-size: 22px;
    font-weight: 600;
}

.coursesList {
    justify-content: center;
    margin-top: -25px;
    margin-bottom: -20px;
    margin-left: 30px;

    & > ul {
        line-height: 24px;
        font-size: 19px;
        li {
            font-size: 1.5rem;
            display: list-item;
            list-style: disc;
            text-transform: none;
            color: black;
        }
    }
}

.doRotate {
    position:relative;
    transition: 1s;
    animation-fill-mode: forwards !important;
    animation: rotate 1s;
}

i {
    font-family: 'Lucida Sans', serif;
    // font-size: 1.0vw;
    font-size: clamp(0.5rem, 1.2vw, 1.5rem);
}

span { 
    font-family: 'Trebuchet', serif; 
    // font-size: 1.3vw;
    font-size: clamp(0.75rem, 2.5vw, 1.5rem);
}

.universityName {
    // font-size: 1.3vw;
    font-size: clamp(0.75rem, 2.5vw, 1.5rem);
}
.dropArrow {
    width: clamp(20px, 2.5vw, 3vw);
    height: clamp(20px, 2.5vw, 3vw);
}
.universityIcon {
    width: 4vw;
    min-width: 35px;
    height: 4vw;
    min-height: 35px;
}

[alt~="mcgillIcon"]:hover,
[alt~="bdebIcon"]:hover {
    transform: scale(1.25);
}

@keyframes rotate { 100% {transform: rotate(180deg);}}

@media (max-width: 1400px) {
    .aboutGrid {
        .descriptionHeader { grid-area: 1 / 1 / 2 / 3;}
        #aboutDiv { grid-area: 2 / 1 / 3 / 3;}
        .latexDescription { grid-area: 3 / 1 / 4 / 3;}
        .latexContainer { grid-area: 4 / 1 / 5 / 3; margin: 0 auto;}
    }
}

@media (max-width: 875px) {
    .aboutGrid {
        width: 90%;
        // .latexContainer{ padding-left: 0;}
    }
}
@media (max-width: 550px) {
    .aboutGrid .latexContainer {
        width: 100%;

    }
  }
