.bottomNavbarContainer { 
    position: absolute;
    bottom: 20%;
    width: 20vw;
    height: 100px;
    background-color: black;

    display: grid;
    grid-template-columns: repeat(2, 0.2fr);
    column-gap: 25px;
    margin-left: 30%;
    margin-right: 60%;

    justify-content: center;
    .icon { 
        align-self: center;
        margin-left: 30%;
        color: orange;
        font-size: 3.5rem;
    }
}

.topNavbarContainer { 
    position: absolute;
    content: "";
    top:0;
    left:0;
    width: 100vw;
    background-color: black;

    display: flex;
    .itemsLeft {

    }

    .itemsRight {

    }
}